/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 0 0 4px #000;

}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-shadow: 0 0 4px #000;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


/*MOBILE FIRST*/

.doporucujeme {
    display: flex;
    flex-direction: column;
    color:#fff;
}


/*burger*/

.hlavni-recept {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("images/burger.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}

.recept-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.recept-nazev {
    padding: 0.5rem;
    font-size: 1.75rem;
}


/*ostatni recepty*/

.recept {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90px;
    padding: 0.5rem;
    border-bottom: 1px solid #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.recept h2 {
    font-size: 1.2rem;
}

.recept.recept2 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("images/sushi.jpg");
}

.recept.recept3 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("images/rajcata.jpg");
}

.recept.recept4 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("images/kure.jpg");
}

.recept.recept5 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("images/grilovani.jpg");
}

.paticka {
    display: none;
}



/*TABLET*/

@media screen and (min-width: 480px) {


.hlavni-recept {
    min-height: 250px;
    padding: 1.25rem;
}

.recept-nazev {
    font-size: 2rem;
}

.recept h2 {
    font-size: 1.5rem;
}

.sloupec {
    display: flex;
}

.recept {
    flex: 50%;
    min-height: 150px;
    padding: 1.25rem;
    border: 1px solid #fff;
}

}



/*DESKTOP*/

@media screen and (min-width: 860px) {

.doporucujeme {
    display: flex;
    flex-direction: row;
    }

.hlavni-recept {
    min-height: 400px;
    padding: 1.25rem;
    border-right: 1px solid #fff;
    }

.sloupec {
    display: flex;
    flex-direction: column;
}

.recept {
    min-height: 200px;
    padding: 1.25rem;
    border: 1px solid #fff;
}

.recept-nazev {
    font-size: 3rem;
}

.recept h2 {
    font-size: 1.75rem;
}

}


